@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

    ViewData["Title"] = "Aboutus";
}
<html>
<head>
    <link href="~/css/style.css" rel="stylesheet" />
</head>
<body>
<div class="about-section">
    <h1>About Us Page</h1>
    <p>  E-commerce is a commercial transaction which is happened over the internet.</p>
    <p>
        Lorem rebum magna amet lorem magna erat diam stet. Sadips duo stet amet amet ndiam elitr ipsum diam
    </p>
</div>
<h2 style="text-align: center">Our Team</h2>
<div class="row">
    <div class="column">
        <div class="card">
            <img src="~/images/team-1.jpg" alt="Jane" style="width: 100%" />
            <div class="container">
                <h2>Jane Doe</h2>
                <p class="title">CEO & Founder</p>
                <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                <p>jane@example.com</p>
                <p><button class="button">Contact</button></p>
            </div>
        </div>
    </div>

    <div class="column">
        <div class="card">
            <img src="~/images/team-2.jpg" alt="Mike" style="width: 100%" />
            <div class="container">
                <h2>Mike Ross</h2>
                <p class="title">Art Director</p>
                <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                <p>mike@example.com</p>
                <p><button class="button">Contact</button></p>
            </div>
        </div>
    </div>

    <div class="column">
        <div class="card">
            <img src="~/images/team-3.jpg" alt="John" style="width: 100%" />
            <div class="container">
                <h2>John Doe</h2>
                <p class="title">Designer</p>
                <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                <p>john@example.com</p>
                <p><button class="button">Contact</button></p>
            </div>
        </div>
    </div>
   
   
</div>
</body>
</html>