
@{
    ViewData["Title"] = "Home Page";
}


<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="~/css/style.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
 <header>
     <article class="hero-section">
                <img src="~/images/onlineshop.jpg"
                     class="hero-img"
                    style="height:400px"
                     alt="onlineshop" />
                <h1 class="title">
                    Welcome to our <span>Store</span>
                </h1>
                <div class="hero-text">
                    <p class="welcome-msg">
                       Ecommerce website is common and frequently used 
                        website which can help more to interact ,enjoy
                        and shop at home.
                    </p>
                    <button class="start-btn">Let's start</button>
                    <br/>
                </div>
            </article>
    </header> 
   </body>
</html>

