@model StudentMVCWebApplication.Models.StudentModel

@{
    ViewData["Title"]="Details";
}
<h1>Student Details</h1>
<table class="table">
    <thead>
    <th>Id</th>
    <th>Name</th>
    <th>Marks</th>
    </thead>
    <tbody>
        <tr>
            <td>@Html.DisplayFor(model => model.id)</td>
            <td>@Html.DisplayFor(model => model.name)</td>
            <td>@Html.DisplayFor(model => model.marks)</td>
        </tr>
    </tbody>
</table>